<div data-tabber>
  <nav class="tabber">
    {{! @TODO: this should be added programatically }}
    <a href="#" class="tabber__arrow tabber__arrow--left">
      <i class="fa fa-chevron-left"></i>
    </a>

    <ul>
      {{#tabs}}
        <li>
          <a class="tabber__link" href="#" data-tabber-tab="{{id}}">{{&name}}</a>
        </li>
      {{/tabs}}
    </ul>

    {{! @TODO: this should be added programatically }}
    <a href="#" class="tabber__arrow tabber__arrow--right">
      <i class="fa fa-chevron-right"></i>
    </a>
  </nav>

  {{! Content Panels }}
  {{#tabs}}
    <div class="content-panel" data-tabber-content="{{id}}">
      {{&content}}
    </div>
  {{/tabs}}
</div>
