$font-size-base: 14px;
$color-neutral: #ccc;
$color-text: #333;
$color-link: #056cc1;

.tabber {
  border-bottom: 1px solid $color-neutral;
  overflow: hidden;
  position: relative;

  // White-to-transparent gradient to visually give the idea
  // that there are further elements hidden to the left/right.
  // The left/right arrows are placed on top of these gradients.
  &::before,
  &::after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 30px;
  }

  &::before {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    left: 0;
  }

  &::after {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    right: 0;
  }

  // When the first/last elements are visible,
  // hide the arrows and remove the gradients from the sides.
  &--no-fade-left::before,
  &--no-fade-right::after {
    display: none;
  }

  // Tabs wrapper. This corresponds to the `ul` tag on the markup.
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    white-space: nowrap;
  }

  // Individual tabs. Corresponds to each of the `li` tags.
  li {
    display: inline-block;
  }

  // According to the markup, each list item (`li`) contains an anchor tag (`a`)
  // which makes the list accessible by keyboard.
  // This is the styling for the anchor tag within each list item.
  &__link {
    border-bottom: 3px solid transparent;
    display: block;
    font-weight: bold;
    margin: 0 -4px 0 0;
    padding: 10px 20px;
    text-decoration: none;

    // Selected tabs and active links share the same styling.
    &--selected,
    &:focus {
      color: $color-text;
      cursor: default;
      border-bottom-color: $color-link;
      outline: none;
    }
  }

  // Arrows to the left and right of the navigation bar.
  &__arrow {
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: $font-size-base;
    z-index: 10000;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    i {
      margin-top: -1 * 0.5 * $font-size-base;
      position: absolute;
      top: 50%;
    }
  }
}
